# Environment variables
.env

# CSV files containing user data
*.csv
members_*.csv
matching_user_ids_*.csv
unmatched_user_ids_*.csv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store 